<!DOCTYPE html>
<html>
<head>
    <title>Privacy Policy of OpenAI Cost Tracker</title>
    <link rel="icon" href="static/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZX116QZGF6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZX116QZGF6');
    </script>

    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
        }
        .content {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
        }
        h1 {
            color: #333;
        }
        p {
            color: #666;
        }
        a {
            color: #0099cc;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="content">
        <h1>Privacy Policy</h1>
        <p>We are committed to protecting your privacy. When you input your API key, it's only used locally in your browser and never sent to or stored on any server.</p>
        <p>Your usage data is fetched from the OpenAI API, and it's used only to display the charts in your browser. It's not stored or shared in any way.</p>
        <p>Remember, the key stays in your local storage until you manually clear it or use the browser's private/incognito mode.</p>
        <a href="/">Back to main page</a>
    </div>
</body>
</html>
